*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
          
}

.s1 img {
    width: 100%;
    height: auto;
}

.s1 p {
    margin-right: 20px;
    margin-left: 20px;  
    font-size: 20px;
    height: auto;
    color: #8ECAE6;
    padding: 5px;
}

.s1 h1{
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:aliceblue;
    padding: 5px;

}

.s1 hr {
    margin: 20px auto;
    width: 80%;  
    border: none;
    height: 5px;
    background-color: #FFB703;

}

body {    
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #023047;

}

.card{
    background-color: #FFB703;
    border-radius: 13%;
    margin: 20px;
    height: 400px;
    
}

.btn{
    background-color: #FFB703;
    margin: 30px auto;  
    height: 50px;
    width: 60%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: 20px;
    border-radius: 10px ;
    
}