*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
          
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #023047;
}

.s1{
    width: 100%;
}

.s1 img{
    width: 100%;
    height: auto;
}

.s1 h1{
    font-size: 50px;
    color: white;
    font-family: "Merriweather", serif; 
    padding: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.s1 p{
    color: #8ECAE6;
    font-size: 24px;
    padding: 5px;
}

.s1 hr{
    margin: 20px;
    background-color: #FB8500;
    height: 5px;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.s1 h2{
    font-size: 30px;
    color: white;
    font-family: "Merriweather", serif; 
    padding: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.contato{
    background-color: #8ECAE6;
    width: 60%;
    height: auto ;
    border-radius: 30px;
    font-size: 20px;
    padding: 30px;
}

.formulario{
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 0px;
}

label{
    margin-bottom: -20px;
}

input{
    background-color: #219EBC;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding: 10px;

        
}

input::placeholder{
    border: none;
    color: #ffffff6e;
    font-family: "Merriweather", serif; 
    font-size: 15px;
    gap: 2px;
} 


button {
    width: 100px;
    height: 40px; 
    margin: 20px auto 0 auto; 
    background-color: #219EBC;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Merriweather", serif; 
}

.line2{
    margin: 10px ;
    width: 405px;  
    border: none;
    height: 5px;
    background-color: #FB8500;
    border-radius: 30px;
    
}

.s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 80vh;
    height: auto;
}

.card{
    background-color: #219EBC;
    border-radius: 30px;
    margin: -40px;
    height: 81px;
    width: 336px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

@media (width>=768px){
    
    .card{
        margin: 5px;
    }
    
    .s1 p {
        height: auto;
        color: #ffffff;
        padding: 5px;
        font-size: 50px;
        display: flex;
        font-family: "Merriweather", serif; 
    }
    .s1 h1{
        color:#FFB703;
        padding: 5px;
        font-size: 150px;
        text-shadow: 0 4px 4px black;
        font-family: "Merriweather", serif; 
    }
    .s2 hr {
      display: none;
    
    }
    .line2{
        margin: 20px auto;
        width: 90vw;  
        border: none;
        height: 5px;
        background-color: #FB8500;
    }

}
